[core]
    editor = nvim
	excludesfile = ~/.gitignore
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true

[merge]
    conflictstyle = zdiff3

[alias]
    co = checkout
    cob = checkout -b
    coo = !git fetch && git checkout
    br = branch
    d = diff --
    dft = -c diff.external=difft diff
    merged = branch --merged
    s = status
    aa = add -A .
    cm = commit -m
    aacm = !git add -A . && git commit -m
    dev = !git checkout dev && git pull origin dev
    master = !git checkout master && git pull origin 
    p = push
    pu = !git push origin `git branch --show-current`
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    f = "!git ls-files | grep -i"
    gr = grep -Ii
    al = "!git config -l | grep alias | cut -c 7-"
[user]
	email = melvin@xyz.com
	name = Melvin
